@charset "utf-8";
/* GERAL */
body,
html,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
span,
:after,
:before {
  display: block;
}
body * {
  outline: none;
  border: 0;
}
html object {
  display: none;
}
/**/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
/*******************************

            GLOBAL
*******************************/
html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  font: normal 100% 'Lato', sans-serif;
}
.btn {
  font: normal 100% 'Open Sans', sans-serif;
}
.w-110 {
  width: 110px;
}
.w-135 {
  width: 135px;
}
.w-150 {
  width: 150px;
}
.w-170 {
  width: 170px;
}
.w-210 {
  width: 210px;
}
.w-220 {
  width: 220px;
}
.w-235 {
  width: 235px;
}
.w-300 {
  width: 300px;
}
.w-335 {
  width: 335px;
}
.w-390 {
  width: 390px;
}
.w-410 {
  width: 410px;
}
.w-450 {
  width: 450px;
}
.w-680 {
  width: 680px;
}
.w-880 {
  width: 880px;
}
/* Variables */
/* Extends */
.hide,
main nav > ul > li > ul,
main form fieldset legend {
  display: none !important;
  opacity: 0;
  height: 0;
}
.show,
main nav > ul > li > ul li.active ul,
main nav > ul > li.active > ul {
  display: block !important;
  opacity: 1;
  height: auto;
}
.full {
  width: 100%;
  height: 100%;
}
.right,
main nav > p {
  float: right;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.title {
  line-height: 1.125em;
  text-align: left;
  color: #535659;
  font-size: 1.125em;
  font-weight: 700;
}
.title em {
  color: #535659;
  font-size: 0.8125rem;
  font-weight: 400;
}
.form-fields,
main form fieldset input[type=text],
main form fieldset textarea {
  border: 1px solid #cad0d6;
}
.l-both {
  border-top: 2px solid #ced4d9;
  border-bottom: 2px solid #ced4d9;
  display: block;
  padding: 0.625em;
  margin: 0.625em 0;
}
.l-bottom {
  border-bottom: 2px solid #ced4d9;
  display: block;
  padding: 10px;
  margin: 10px 0;
}
.msg {
  background: #f2f3f5;
  margin: -0.68em 0 0.625em;
  display: block;
  padding: 0.75em;
}
.msg .error {
  text-align: right;
  color: #d12527;
  font-size: 0.8125em;
  font-weight: 400;
}
.msg .success {
  text-align: right;
  color: #287bca;
  font-size: 0.8125em;
  font-weight: 400;
}
.little-break {
  float: none;
  display: block;
  width: 100%;
  height: 14px;
}
ul.inline li {
  display: inline-block;
  vertical-align: middle;
}
ul.block li {
  display: block !important;
  padding-bottom: 10px !important;
}
/* Mixins and Functions */
/*******************************

            MAIN
*******************************/
main {
  width: 100%;
  /* LOADER */
  /* HEADER */
  /* NAV */
  /* FORM */
}
main div.loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
main div.loader img {
  top: calc(50% - 16px);
  top: 50%\9;
  left: calc(50% - 16px);
  left: 50%\9;
  position: absolute;
  z-index: 99;
}
main div.loader:after {
  content: '';
  background: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
}
main header {
  background: #fafbfc;
  border-bottom: 2px solid #ced4d9;
}
main header h1 {
  width: 141px;
  height: 38px;
  margin: 33px 19px 9px;
  display: inline-block;
  vertical-align: middle;
}
main header h2 {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  color: #004fa5;
  font-size: 1.1em;
  font-weight: 700;
  width: calc(100% - 366px);
  padding-bottom: 9px;
}
main nav {
  padding: 10px 10px 20px;
}
main nav > p {
  text-align: center;
  color: #004fa5;
  font-size: 0.87em;
  font-weight: 400;
  padding-top: 16px;
}
main nav > ul li:first-child {
  display: none;
}
main nav > ul > li {
  margin-right: -3px;
  background: #f2f3f5;
  border: 1px solid #ced4d9;
  position: static;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main nav > ul > li > a {
  padding: 0 14px;
}
main nav > ul > li > a p {
  text-align: center;
  color: #0056a5;
  font-size: 0.93em;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
main nav > ul > li > a p span {
  text-align: center;
  color: #0056a5;
  font-size: 0.75em;
  font-weight: 700;
}
main nav > ul > li > a:before {
  content: "";
  height: 2.37em;
  display: inline-block;
  vertical-align: middle;
}
main nav > ul > li > ul {
  background: #f2f3f5;
  text-align: center;
}
main nav > ul > li > ul li a {
  text-align: center;
  color: #0056a5;
  font-size: 0.81em;
  font-weight: 400;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
}
main nav > ul > li > ul li a:before {
  content: "";
  height: 3.09em;
  display: inline-block;
  vertical-align: middle;
}
main nav > ul > li > ul li:first-child:before {
  content: "";
  height: 1.69em;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  background: #ced4d9;
}
main nav > ul > li > ul li:after {
  content: "";
  height: 1.69em;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  background: #ced4d9;
}
main nav > ul > li > ul li:hover:not(.disabled) {
  background: #004fa5;
  border-color: #004fa5;
}
main nav > ul > li > ul li:hover:not(.disabled):after,
main nav > ul > li > ul li:hover:not(.disabled):before {
  background: #004fa5;
}
main nav > ul > li > ul li:hover:not(.disabled) a {
  color: #fff;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main nav > ul > li > ul li.active {
  background: #004fa5;
  border-color: #004fa5;
}
main nav > ul > li > ul li.active:after,
main nav > ul > li > ul li.active:before {
  background: #004fa5;
}
main nav > ul > li > ul li.active a {
  color: #fff;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main nav > ul > li > ul li.active ul {
  border: 1px solid #ced4d9;
  position: absolute;
  width: 100%;
  margin: 11px -1px;
}
main nav > ul > li > ul li.active ul:before {
  content: "";
  height: 0.62em;
  width: calc(100% + 2px);
  background: #0056a5;
  margin: -11px -1px 0;
}
main nav > ul > li > ul li.active ul > li {
  display: inline-block;
  vertical-align: middle;
}
main nav > ul > li > ul li.disabled a {
  cursor: default;
}
main nav > ul > li > ul li.disabled a * {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
main nav > ul > li:hover:not(.disabled) {
  background: #0056a5;
  border-color: #0056a5;
}
main nav > ul > li:hover:not(.disabled) a * {
  color: #fff;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main nav > ul > li.active {
  background: #0056a5;
  border-color: #0056a5;
}
main nav > ul > li.active a * {
  color: #fff;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main nav > ul > li.active > ul {
  border: 1px solid #ced4d9;
  position: absolute;
  left: 1px;
  width: 100%;
  margin: 11px -1px;
}
main nav > ul > li.active > ul:before {
  content: "";
  height: 0.62em;
  width: calc(100% + 2px);
  background: #0056a5;
  margin: -11px -1px 0;
}
main nav > ul > li.active > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
}
main nav > ul > li.disabled a {
  cursor: default;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
main form {
  width: 920px;
  margin: 49px auto;
}
main form fieldset [class^='w-'] {
  display: inline-block;
  vertical-align: middle;
  margin: 6px 6px 0 0;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form fieldset [class^='w-'] label {
  text-align: left;
  color: #535659;
  font-size: 0.93em;
  font-weight: 700;
  display: block;
}
main form fieldset a.btn {
  text-align: center;
  color: #ffffff;
  font-size: 0.93em;
  font-weight: 700;
  border: 1px solid #3374b5;
  background: #287bca;
  letter-spacing: -0.07em;
  padding: 0 1em;
  height: 38px;
  margin: 10px 10px 20px;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form fieldset a.btn span {
  display: inline-block;
  vertical-align: middle;
}
main form fieldset a.btn span i {
  margin: 0 -0.05em;
}
main form fieldset a.btn:hover {
  text-align: center;
  color: #287bca;
  font-size: 0.93em;
  font-weight: 700;
  background: #f2f3f5;
  border: 1px solid #ccd1d7;
}
main form fieldset a.btn.left {
  display: inline-block;
  vertical-align: middle;
}
main form fieldset a.btn:before {
  content: "";
  height: 38px;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
main form fieldset a.btn.dark {
  background: #f2f3f5;
  text-align: center;
  color: #0056a5;
  font-size: 0.93em;
  font-weight: 700;
  border: 1px solid #ccd1d7;
}
main form fieldset a.btn.dark:hover,
main form fieldset a.btn.dark.active {
  background: #0056a5;
  color: #fff;
  border: 1px solid #0056a5;
}
main form fieldset a.btn.next span {
  padding: 0 0 0 10px;
}
main form fieldset a.btn.prev span {
  padding: 0 10px 0 0;
}
main form fieldset a:not(.btn) {
  color: #004fa5;
  font-size: 0.875em;
  line-height: 0.875em;
  display: initial;
}
main form fieldset a:not(.btn):hover {
  text-decoration: underline;
}
main form fieldset a:not(.btn):visited {
  color: #ced4d9;
}
main form fieldset a.ico-circle {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 19px;
  height: 19px;
  background: #287bca;
  border-radius: 10px;
  border: 1px solid #287bca;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  position: absolute;
  top: 34px;
  right: -36px;
}
main form fieldset a.ico-circle i {
  color: #fff;
  vertical-align: middle;
}
main form fieldset a.ico-circle:after {
  content: '';
  height: 21px;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
main form fieldset a.ico-circle:hover {
  background: #f2f3f5;
  border: 1px solid #ccd1d7;
}
main form fieldset a.ico-circle:hover i {
  color: #287bca;
}
main form fieldset ul.codes li a.ico-circle {
  top: 3px;
  right: 3px;
}
main form fieldset .radio label,
main form fieldset .checkbox label {
  display: inline-block !important;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 25px;
  vertical-align: middle;
  text-align: left;
  color: #535659;
  font-size: 0.93em;
  font-weight: 700;
}
main form fieldset .radio > em,
main form fieldset .checkbox > em {
  font-size: 0.8125em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 -20px;
}
main form fieldset .radio label:before,
main form fieldset .checkbox label:before,
main form fieldset .radio label .before,
main form fieldset .checkbox label .before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f3f3f3;
  border: 1px solid #e6e7e8;
  border-radius: 8px;
}
main form fieldset .radio input[type=radio],
main form fieldset .checkbox input[type=checkbox] {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
}
main form fieldset .radio label:before {
  border-radius: 8px;
}
main form fieldset .checkbox label:before {
  border-radius: 0;
}
main form fieldset .radio input[type=radio]:checked + label:before,
main form fieldset .radio input[type=radio]:checked + label .before {
  font-family: FontAwesome;
  content: "\f111";
  color: #0056a5;
  font-size: 0.91em;
  text-align: center;
  line-height: 1.2em;
}
main form fieldset .checkbox input[type=checkbox]:checked + label:before,
main form fieldset .checkbox input[type=checkbox]:checked + label .before {
  font-family: FontAwesome;
  font-weight: normal;
  content: "\f00c";
  font-size: 1.1em;
  color: #0056a5;
  text-align: center;
  line-height: 0.9em;
}
main form fieldset input[type=text] {
  text-align: left;
  color: #535659;
  font-size: 0.93em;
  font-weight: 400;
  padding: 10px;
  margin: 6px 0 5px;
  width: 100%;
  box-sizing: border-box;
}
main form fieldset textarea {
  text-align: left;
  color: #535659;
  font-size: 0.93em;
  font-weight: 400;
  padding: 10px;
  margin: 6px 0 5px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
main form fieldset input[type=button] {
  background: #287bca;
  padding: 0.74em 2.492em;
  text-align: left;
  color: #ffffff;
  font-size: 0.93em;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form fieldset input[type=button]:hover {
  color: #287bca;
  background: #f2f3f5;
}
main form fieldset ul.codes li {
  color: #004fa5;
  font-size: 0.9375em;
  line-height: 0.9375em;
  padding: 5px 0;
}
main form fieldset ul.codes li a.ico-circle {
  margin-left: 10px;
}
main form fieldset ul.codes li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9375em;
  margin: 0;
  width: calc(100% - 38px);
}
main form fieldset ul.codes li p span {
  display: inline-block;
  vertical-align: middle;
}
/*******************************
     					IE 9
*******************************/
/*******************************
     					IE 8
*******************************/
.ie8 form fieldset a.ico-circle {
  behavior: url(pie/PIE.htc);
}
.ie8 form fieldset a.ico-circle i.fa-plus {
  margin-top: -3px;
}
.ie8 form fieldset a.ico-circle i.fa-minus {
  margin-left: -1px;
}
.ie8 form fieldset .radio label:before,
.ie8 form fieldset .checkbox label:before {
  display: none;
}
.ie8 form fieldset .radio label .before,
.ie8 form fieldset .checkbox label .before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f3f3f3;
  border: 1px solid #e6e7e8;
}
.ie8 form fieldset .radio label .before {
  border-radius: 8px;
  behavior: url(pie/PIE.htc);
}
.ie8 form fieldset .checkbox label .before {
  border-radius: 0;
}
.ie8 form fieldset .radio label.checked span:before {
  font-family: FontAwesome;
  content: "\f111";
  font-size: 0.91em;
  text-align: center;
  line-height: 1.2em;
  color: #0056a5;
  position: absolute;
  top: 0px;
  left: 1px;
}
.ie8 form fieldset .checkbox label.checked span:before {
  font-family: FontAwesome;
  font-weight: normal;
  content: "\f00c";
  font-size: 1.1em;
  color: #0056a5;
  text-align: center;
  line-height: 0.9em;
  position: absolute;
  top: 0;
  left: 0;
}
.ie8 form.finalidade_produto fieldset .segment ul li {
  width: 210px;
}
.ie8 form.finalidade_produto fieldset .segment ul li.w-880 {
  width: 880px;
}
.ie8 form.finalidade_produto fieldset .top ul li,
.ie8 form.finalidade_produto fieldset .bottom ul li,
.ie8 form.finalidade_produto fieldset .home ul li,
.ie8 form.finalidade_produto fieldset .stampingBase ul li,
.ie8 form.finalidade_produto fieldset .underwear ul li,
.ie8 form.finalidade_produto fieldset .wholesaleSector ul li,
.ie8 form.finalidade_produto fieldset .anotherPurpose ul li {
  width: 135px;
}
.ie8 form.finalidade_produto fieldset .top ul li.w-210,
.ie8 form.finalidade_produto fieldset .bottom ul li.w-210,
.ie8 form.finalidade_produto fieldset .home ul li.w-210,
.ie8 form.finalidade_produto fieldset .stampingBase ul li.w-210,
.ie8 form.finalidade_produto fieldset .underwear ul li.w-210,
.ie8 form.finalidade_produto fieldset .wholesaleSector ul li.w-210,
.ie8 form.finalidade_produto fieldset .anotherPurpose ul li.w-210 {
  width: 210px;
}
.ie8 form.finalidade_produto fieldset .home ul li {
  width: 150px;
  margin: 0 0 10px;
}
.ie8 form.finalidade_produto fieldset .underwear ul li.w-220 {
  width: 210px;
}
.ie8 form.similaridade .content .l-bottom.commercialConditions ul.w-220 {
  width: 235px;
  margin-left: -20px;
}
.ie8 form.similaridade .content .l-bottom.commercialConditions ul li .radio label {
  padding-left: 25px;
}
/*******************************

            FORMS
*******************************/
main form.segmentacao fieldset .content > .title {
  padding-bottom: 15px;
}
main form.segmentacao fieldset .content > .radio em {
  margin: 0 0 0 -20px;
  width: 48%;
}
main form.segmentacao fieldset .content .l-both {
  padding: 0;
}
main form.segmentacao fieldset .content .l-both ul li {
  padding: 9.5px;
  margin: 0;
}
main form.segmentacao fieldset .content .l-both ul li:nth-child(odd),
main form.segmentacao fieldset .content .l-both ul li.odd {
  background: #f2f3f5;
}
main form.segmentacao fieldset .content .l-both ul li:nth-child(odd) .checkbox label:before,
main form.segmentacao fieldset .content .l-both ul li.odd .checkbox label:before,
main form.segmentacao fieldset .content .l-both ul li:nth-child(odd) .radio label:before,
main form.segmentacao fieldset .content .l-both ul li.odd .radio label:before,
main form.segmentacao fieldset .content .l-both ul li:nth-child(odd) .checkbox label .before,
main form.segmentacao fieldset .content .l-both ul li.odd .checkbox label .before,
main form.segmentacao fieldset .content .l-both ul li:nth-child(odd) .radio label .before,
main form.segmentacao fieldset .content .l-both ul li.odd .radio label .before {
  background: #fff;
}
main form.segmentacao fieldset .content .l-both ul li > * {
  display: inline-block;
  vertical-align: middle;
}
main form.segmentacao fieldset .content .l-both ul li > div {
  min-width: 335px;
}
main form.segmentacao fieldset .content .l-both ul li p {
  font-size: 0.8125em;
  width: calc(100% - 340px);
}
main form.segmentacao fieldset .content .l-both ul li ul {
  width: 623px;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  background: #ebeced;
  margin: -10px -11px -9px -50px;
  min-height: 41px;
  display: inline-block;
  vertical-align: top;
}
main form.segmentacao fieldset .content .l-both ul li ul li {
  background: none !important;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 9.5px;
}
main form.segmentacao fieldset .content .l-both ul li ul li p {
  font-size: 0.8125em;
  float: none;
  padding-left: 30px;
  width: auto;
  display: block;
}
main form.segmentacao fieldset .content .l-both ul li ul li div {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
main form.segmentacao fieldset .content .l-both ul li ul li div label:before {
  top: 7px;
  bottom: initial;
}
main form.segmentacao fieldset .content .l-both ul li ul li:first-child {
  width: 330px;
}
main form.base div.w-410 {
  margin: 0;
}
main form.base div.w-410 > div.btns a {
  margin: 0 -3px 0 0;
  width: 200px;
  box-sizing: border-box;
}
main form.base div.w-410 > div.btns a:first-child,
main form.base div.w-410 > div.btns a.first_child {
  margin-right: 7px !important;
}
main form.base div.w-410 > div.search {
  padding-top: 10px;
}
main form.base div.w-410 > div.search input[type=text] {
  margin: 0;
}
main form.base div.w-410 > div.search span {
  position: absolute;
  right: 1px;
  top: 10px;
  z-index: 1;
  background: #287bca;
  border: 1px solid #0056a5;
  width: 38px;
  height: 38px;
  text-align: center;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form.base div.w-410 > div.search span:before {
  font-family: FontAwesome;
  content: "\f002";
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
main form.base div.w-410 > div.search span:after {
  content: '';
  height: 38px;
  display: inline-block;
  vertical-align: middle;
}
main form.base div.w-410 > div.search span:hover {
  background: #f2f3f5;
  border: 1px solid #ccd1d7;
}
main form.base div.w-410 > div.search span:hover:before {
  color: #287bca;
}
main form.base div.w-410 > div.search span input[type=button] {
  width: 100%;
  height: 100%;
  padding: 0;
  text-indent: -999em;
  background: none;
  position: absolute;
  left: 0;
}
main form.base div.w-410 div#findProductResult {
  position: absolute;
  z-index: 999;
  width: 100%;
}
main form.base div.w-410 em {
  font-size: 0.8125em;
  border-top: 1px solid #fff;
  cursor: pointer;
  padding: 11px;
  display: block;
  background: #fafbfc;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form.base div.w-410 em:hover {
  background: #287bca;
  color: #fff;
}
main form.base fieldset > ul {
  padding: 0 0.625em;
}
main form.base fieldset .radio label {
  margin-right: 40px;
}
main form.base fieldset ul.codes li p {
  width: calc(100% - 30px);
}
main form.base ul {
  padding: 0 10px;
}
main form.base ul li {
  display: inline-block;
  vertical-align: middle;
}
main form.base ul li p {
  font-size: 0.8125em;
  float: none;
  margin-left: 30px;
  width: auto;
  display: block;
}
main form.base .l-bottom {
  padding: 10px 0px;
}
main form.base .l-bottom div.radio label:before {
  top: 7px;
  bottom: initial;
}
main form.base .newBase > div.similar {
  margin: 0 auto;
  width: 685px;
}
main form.base .newBase > div.similar .w-410 {
  margin: 0 auto 20px;
  display: block;
}
main form.base .newBase > div.similar .w-220 {
  vertical-align: top;
}
main form.base .newBase > div.similar .w-680 textarea {
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}
main form.amostra .content {
  padding: 10px;
}
main form.amostra .content p.title {
  padding: 20px 0 8px;
}
main form.amostra .content > div {
  padding-top: 25px;
}
main form.amostra .content > div ul.inline li .radio {
  margin: 0 -7px 0 -5px;
}
main form.amostra .content ul li.pantone {
  vertical-align: top;
  margin-top: -35px;
}
main form.amostra .content ul li .w-300 {
  /*margin: -10px 0 0 12px;
					a{ margin: -36px; }*/
}
main form.amostra .content ul li textarea {
  height: 40px;
  max-height: 40px;
}
main form.amostra .content a.btn {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}
main form.finalidade_produto fieldset .l-bottom {
  margin: 0;
  padding: 13px 10px;
}
main form.finalidade_produto fieldset .l-bottom p.title {
  cursor: pointer;
}
main form.finalidade_produto fieldset .l-bottom p.title span {
  margin: -6px 6px 0 0;
  display: inline-block;
  vertical-align: middle;
  color: #287bca;
}
main form.finalidade_produto fieldset .l-bottom p.title span i {
  display: block;
  margin: -0.5em 0;
}
main form.finalidade_produto fieldset .l-bottom > ul {
  display: none;
  margin: 15px 25px 5px;
}
main form.finalidade_produto fieldset .l-bottom > ul li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form.finalidade_produto fieldset .l-bottom > ul li .checkbox label {
  margin-right: 0;
}
main form.finalidade_produto fieldset .segment ul li:not(.w-880) {
  width: 235px;
  margin: 0 0 10px;
}
main form.finalidade_produto fieldset .segment ul li:nth-child(4n+4) {
  width: auto;
}
main form.finalidade_produto fieldset .modeling ul li {
  width: 235px;
  margin: 0 0 10px;
}
main form.finalidade_produto fieldset .top ul li:not(.w-210),
main form.finalidade_produto fieldset .bottom ul li:not(.w-210),
main form.finalidade_produto fieldset .home ul li:not(.w-210),
main form.finalidade_produto fieldset .stampingBase ul li:not(.w-210),
main form.finalidade_produto fieldset .underwear ul li:not(.w-210),
main form.finalidade_produto fieldset .wholesaleSector ul li:not(.w-210),
main form.finalidade_produto fieldset .anotherPurpose ul li:not(.w-210) {
  width: 135px;
  margin: 0 0 10px;
}
main form.finalidade_produto fieldset .top ul li.w-210,
main form.finalidade_produto fieldset .bottom ul li.w-210,
main form.finalidade_produto fieldset .home ul li.w-210,
main form.finalidade_produto fieldset .stampingBase ul li.w-210,
main form.finalidade_produto fieldset .underwear ul li.w-210,
main form.finalidade_produto fieldset .wholesaleSector ul li.w-210,
main form.finalidade_produto fieldset .anotherPurpose ul li.w-210 {
  position: absolute;
  right: -20px;
  margin: -15px 0 0 0;
}
main form.finalidade_produto fieldset .home ul li:not(.w-210) {
  margin: 0 0 20px;
}
main form.finalidade_produto fieldset .home ul li.w-210 {
  margin: -5px 0 0 0;
}
main form.finalidade_produto fieldset .underwear ul li {
  margin-bottom: 60px !important;
}
main form.finalidade_produto fieldset .underwear ul li:nth-child(4),
main form.finalidade_produto fieldset .underwear ul li:nth-child(5) {
  width: 210px;
}
main form.finalidade_produto fieldset .underwear ul li.w-210 {
  margin-top: 35px !important;
}
main form.finalidade_produto fieldset .wholesaleSector,
main form.finalidade_produto fieldset .anotherPurpose {
  padding: 20px 10px;
}
main form.finalidade_produto fieldset .wholesaleSector p.title,
main form.finalidade_produto fieldset .anotherPurpose p.title {
  padding-left: 24px;
}
main form.finalidade_produto fieldset .wholesaleSector ul,
main form.finalidade_produto fieldset .anotherPurpose ul {
  margin: 0;
  display: block;
}
main form.finalidade_produto fieldset .wholesaleSector ul li.w-210,
main form.finalidade_produto fieldset .anotherPurpose ul li.w-210 {
  margin: -36px 25px !important;
}
main form.prazo_preco_quant .content {
  padding: 10px 0;
}
main form.prazo_preco_quant .content .l-bottom:first-child {
  margin-top: 0;
}
main form.prazo_preco_quant .content .l-bottom:first-child p.title {
  padding-top: 0;
}
main form.prazo_preco_quant .content .l-bottom p.title {
  padding-bottom: 8px;
}
main form.prazo_preco_quant .content .l-bottom ul.inline .w-210 {
  margin-left: -13px !important;
}
main form.prazo_preco_quant .content ul.inline div.radio {
  width: 110px;
  margin: 0 0 -20px 0;
}
main form.prazo_preco_quant .content ul.inline div.checkbox {
  margin: -23px -15px 0 10px;
}
main form.prazo_preco_quant .content ul.inline [class^='w-'] {
  margin-right: 20px;
  -webkit-transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
  transition: background 0.3s, border 0.3s, width 0.3s, height 0.3s, color 0.3s, opacity 0.3s;
}
main form.prazo_preco_quant .content > p.title {
  margin: 20px 10px 0;
}
main form.prazo_preco_quant .content > ul.inline {
  margin: 20px 10px 0;
}
main form.prazo_preco_quant .content > ul.inline div.radio {
  margin: 0;
}
main form.prazo_preco_quant .content > ul.inline li[class^='w-'] {
  margin: -40px 0 0 250px;
}
main form.prazo_preco_quant .content ul.codes li {
  width: 560px;
}
main form.similaridade .content {
  padding: 10px;
}
main form.similaridade .content .l-bottom:first-child,
main form.similaridade .content .l-bottom.competitorProduces {
  margin-top: 0;
}
main form.similaridade .content .l-bottom:first-child p.title,
main form.similaridade .content .l-bottom.competitorProduces p.title {
  padding-bottom: 8px;
}
main form.similaridade .content .l-bottom:first-child .radio,
main form.similaridade .content .l-bottom.competitorProduces .radio {
  margin: 5px 0 15px;
}
main form.similaridade .content .l-bottom:first-child .radio label,
main form.similaridade .content .l-bottom.competitorProduces .radio label {
  margin-right: 45px;
}
main form.similaridade .content .l-bottom:nth-child(2) .w-220,
main form.similaridade .content .l-bottom.competitorDatas .w-220 {
  vertical-align: top;
}
main form.similaridade .content .l-bottom:nth-child(3) ul.w-220,
main form.similaridade .content .l-bottom.commercialConditions ul.w-220,
main form.similaridade .content .l-bottom:nth-child(3) ul.w-210,
main form.similaridade .content .l-bottom.commercialConditions ul.w-210 {
  border-left: 2px solid #ced4d9;
  padding-left: 20px;
  margin-left: -20px;
  height: 30px;
}
main form.similaridade .content .l-bottom:nth-child(3) > ul,
main form.similaridade .content .l-bottom.commercialConditions > ul {
  margin: 0 0 -20px 10px;
}
main form.similaridade .content .l-bottom:nth-child(4) .title,
main form.similaridade .content .l-bottom.priceChange .title {
  padding-bottom: 5px;
}
main form.similaridade .content .l-bottom:nth-child(4) .radio,
main form.similaridade .content .l-bottom.priceChange .radio,
main form.similaridade .content .l-bottom:nth-child(4) .checkbox,
main form.similaridade .content .l-bottom.priceChange .checkbox {
  padding: 10px 0;
}
/*******************************

            MEDIA QUERIES
*******************************/
@media screen and (max-width: 990px) {
  main nav > p {
    float: none;
    padding: 8px 0 16px;
  }
  main nav > ul {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    z-index: 99;
  }
  main nav > ul > li:first-child {
    display: block;
    background: #0056a5;
    width: 2.5em;
    margin: 0 -2px 0 calc(100% - 2.42em);
    font-size: 1.2em;
    border: 0;
  }
  main nav > ul > li:first-child a {
    color: #fff;
  }
  main nav > ul > li {
    display: none;
    width: 100%;
    text-align: center;
  }
  main nav > ul > li > ul {
    position: relative !important;
    left: 0 !important;
  }
  main nav > ul > li > ul > li {
    border-bottom: 1px solid #ced4d9;
    width: 50%;
    margin: 0 -1px 0 -2px !important;
  }
  main nav > ul > li > ul > li:after,
  main nav > ul > li > ul > li:before {
    display: none !important;
  }
  main nav > ul > li > ul > li:nth-child(even) {
    border-left: 1px solid #ced4d9;
    margin: 0 -1px 0 -2px !important;
  }
  main form {
    margin: -10px 10px 0;
    width: calc(100% - 20px) !important;
  }
  main form fieldset legend {
    display: block !important;
    opacity: 1;
    height: auto;
    text-align: center;
    color: #004fa5;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 1px solid #287bca;
  }
  main form fieldset > .content {
    padding-top: 10px;
  }
  main form.base .content {
    padding-top: 20px;
  }
  main form.amostra .content {
    padding: 10px 0;
  }
  main form.finalidade_produto fieldset .l-bottom:not(.wholesaleSector):not(.anotherPurpose) > ul li.w-880 {
    width: 100%;
  }
  main form.finalidade_produto fieldset .l-bottom:not(.wholesaleSector):not(.anotherPurpose) > ul li[class^='w-'] {
    position: relative !important;
    display: block !important;
    margin: 0 !important;
    right: 0 !important;
  }
  main form.finalidade_produto fieldset .underwear ul li,
  main form.finalidade_produto fieldset .top ul li {
    margin-bottom: 10px !important;
  }
  main form.finalidade_produto fieldset .underwear ul li.w-210,
  main form.finalidade_produto fieldset .top ul li.w-210 {
    margin-top: -5px !important;
  }
  main form.finalidade_produto fieldset li {
    width: 32% !important;
  }
  main form.prazo_preco_quant .content > .l-bottom {
    padding: 10px 0;
  }
  main form.prazo_preco_quant .content > p.title {
    margin-left: 0;
    margin-right: 0;
  }
  main form.prazo_preco_quant .content > ul.inline li:nth-child(4) {
    margin-left: 466px;
  }
  main form.prazo_preco_quant .content > ul.inline div.checkbox {
    margin: -10px -15px -13px 10px;
  }
  main form.prazo_preco_quant .content ul.codes li p {
    /*width: calc(~"100% - 375px"); */
  }
  main form.similaridade .content {
    padding: 10px 0;
  }
  main form.similaridade .content .l-bottom {
    padding: 10px 0;
  }
  main form.similaridade .content .l-bottom:nth-child(3) > :nth-child(2) {
    display: block;
  }
  main form.similaridade .content .l-bottom:nth-child(3) > ul {
    margin: 10px 0 20px;
  }
  main form.segmentacao fieldset .content .l-both ul li ul {
    margin: 10px;
    display: block;
    width: auto;
  }
  main form.segmentacao fieldset .content .l-both ul li ul li {
    width: auto !important;
    padding-bottom: 9.5px;
  }
}
@media screen and (max-width: 768px) {
  main form.dados div[class^='w-'] {
    width: calc(50% - 8px) !important;
  }
  main form.segmentacao fieldset .content .l-both ul li p {
    padding: 5px 29px 0;
    display: block;
    width: auto;
    line-height: auto;
  }
  main form.segmentacao fieldset .content .l-both ul li > div {
    min-width: auto;
  }
  main form.base div div[class^='w-'],
  main form.amostra div div[class^='w-'] {
    width: 100% !important;
  }
  main form.base .newBase > div:not(.l-bottom),
  main form.amostra .newBase > div:not(.l-bottom) {
    width: 100%;
  }
  main form.amostra .content div .inline {
    padding: 10px;
  }
  main form.amostra .content div .inline li {
    display: block;
    padding: 5px 0;
  }
  main form.amostra .content div .inline li.pantone {
    vertical-align: top;
    margin-top: 0;
  }
  main form.amostra .content div .inline li .w-300 {
    margin: 0;
    width: calc(100% - 50px) !important;
  }
  main form.amostra .content div .inline ul.codes li p {
    width: calc(100% - 44px);
  }
  main form.amostra .content div .inline ul.codes li a {
    right: 14px;
  }
  main form.finalidade_produto fieldset li {
    width: 49% !important;
    margin-bottom: 10px !important;
  }
  main form.prazo_preco_quant .content ul.inline .w-210 {
    display: block;
    margin: 6px 6px 0 0px !important;
  }
  main form.prazo_preco_quant .content > ul.inline {
    margin: 5px 10px 30px;
  }
  main form.prazo_preco_quant .content > ul.inline li:nth-child(4) {
    margin-left: -10px;
  }
  main form.prazo_preco_quant .content > ul.inline div.radio {
    margin: 5px 0 15px 0;
  }
  main form.prazo_preco_quant .content > ul.inline .w-210 {
    margin-top: 0 !important;
  }
  main form.similaridade div div[class^='w-'] {
    width: calc(50% - 8px) !important;
  }
  main form.similaridade div div[class^='w-680'] {
    width: calc(100% - 7px) !important;
  }
}
@media screen and (max-width: 650px) {
  main form.prazo_preco_quant .content .l-bottom ul.inline [class^='w-'] {
    display: block;
  }
  main form.prazo_preco_quant .content .l-bottom ul.inline div.radio {
    margin: 5px 0 20px 0;
  }
  main form.prazo_preco_quant .content .l-bottom ul.inline .w-210 {
    margin: -10px 6px 0 0 !important;
  }
  main form.prazo_preco_quant .content ul.codes li {
    width: auto;
  }
  main form.prazo_preco_quant .content ul.codes li p span {
    display: inline-block !important;
    width: 44% !important;
    margin: 6px !important;
  }
  main form.similaridade .content .l-bottom:nth-child(3) ul.w-220 {
    border-left: none;
    display: block;
  }
  main form.similaridade .content .l-bottom:nth-child(4) .radio label,
  main form.similaridade .content .l-bottom:nth-child(4) .checkbox label {
    margin: 10px 25px 10px 0;
  }
}
@media screen and (max-width: 425px) {
  main nav > ul > li {
    width: 100%;
    text-align: center;
  }
  main nav > ul > li > ul {
    position: relative !important;
    left: 0 !important;
  }
  main nav > ul > li > ul > li {
    width: 100%;
    margin: 0 -1px !important;
  }
  main nav > ul > li > ul > li:after {
    display: none;
  }
  main form:not(.base) div[class^='w-'] {
    width: 100% !important;
  }
  main form:not(.base) .l-both,
  main form:not(.base) .msg {
    padding-left: 0;
    padding-right: 0;
  }
  main form.base div[class^='w-'] {
    width: 100% !important;
  }
  main form.base ul li {
    display: block;
    padding-bottom: 10px;
  }
  main form.base .newBase > div:not(.l-bottom) {
    width: 100%;
  }
  main form.amostra .radio > em,
  main form.amostra .checkbox > em {
    display: block;
    padding-left: 50px;
  }
  main form.finalidade_produto fieldset .l-bottom p.title {
    padding-left: 0;
  }
  main form.finalidade_produto fieldset .l-bottom > ul li[class^='w-'] {
    position: relative !important;
    display: block !important;
    margin: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  main form.prazo_preco_quant .content > ul.inline {
    margin-left: 0 !important;
  }
  main form.prazo_preco_quant .content ul.inline [class^='w-'] {
    display: block;
    width: 100%;
  }
  main form.prazo_preco_quant .content ul.inline div.radio {
    margin: 5px 0 20px 0;
  }
  main form.prazo_preco_quant .content ul.inline .w-210 {
    margin-top: -10px !important;
  }
  main form.similaridade .content .l-bottom:first-child .radio label {
    margin-bottom: 10px;
  }
  main form.similaridade div div[class^='w-'] {
    width: 100% !important;
  }
}
