/*******************************

            MEDIA QUERIES
*******************************/
@media screen {
  @media (max-width: 990px) {
    main{
      nav{
        >p{ float: none; padding: 8px 0 16px; }
        >ul{
          position: fixed; top: 0; left: 0; width:calc(~"100% - 2px"); z-index: 99;
          >li:first-child{
            display:block;
            background: #0056a5;
            width: 2.5em;
            margin: 0 -2px 0 calc(~"100% - 2.42em");
            font-size: 1.2em;
            border: 0;
            a{
              color: #fff;
            }
          }
          >li{
            display: none;
            width: 100%;
            text-align: center;
            >ul{
              position: relative !important;
              left: 0 !important;
              >li{
                border-bottom: 1px solid #ced4d9;
                width: 50%;
                margin:0 -1px 0 -2px !important;
                &:after, &:before{
                  display:none !important;
                }
              }
              >li:nth-child(even){
                border-left: 1px solid #ced4d9;
                margin: 0 -1px 0 -2px !important;
              }
            }
          }
        }
      }
      form{
        margin: -10px 10px 0;
        width: calc(~"100% - 20px") !important;
        fieldset{
          legend{
            .show;
            .txt-sets(center,@dark-blue,1.1,700);
            border-bottom: 1px solid @light-blue;
          }
          >.content{
            padding-top: 10px;
          }
        }
      }
      form.base{
        .content{
          padding-top: 20px;
        }
      }
      form.amostra{
        .content{
          padding: 10px 0;
        }
      }
      form.finalidade_produto{
        fieldset{
          .l-bottom:not(.wholesaleSector):not(.anotherPurpose){
            >ul{
              li.w-880{
                width:100%;
              }
              li[class^='w-']{
                position: relative !important;
                display: block !important;
                margin: 0 !important;
                right: 0 !important;
              }
            }
          }
          .underwear, .top{
            ul li{
              margin-bottom: 10px !important;
              &.w-210{
                margin-top: -5px !important;
              }
            }
          }
          li{
            width: 32% !important;
          }
        }
      }
      form.prazo_preco_quant{
        .content{
          >.l-bottom{
            padding: 10px 0;
          }
          >p.title{
            margin-left: 0;
            margin-right: 0;
          }
          >ul.inline{
            li:nth-child(4){
              margin-left:466px;
            }
            div.checkbox{
              margin:-10px -15px -13px 10px;
            }
          }
          ul.codes li p{
            /*width: calc(~"100% - 375px"); */
          }
        }
      }
      form.similaridade{
        .content{
          padding: 10px 0;
          .l-bottom{
            padding: 10px 0;
            &:nth-child(3){
              >:nth-child(2){
                display:block;
              }
              >ul{
                margin: 10px 0 20px;
              }
            }
          }
        }
      }
      form.segmentacao{
        fieldset{
          .content{
            .l-both{
              ul{
                li{
                  ul{
                    margin: 10px;
                    display: block;
                    width: auto;
                    li{
                      width: auto !important;
                      padding-bottom: 9.5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    main{ 
      form.dados{
        div[class^='w-']{
          width: calc(~"50% - 8px") !important; 
        }
      }
      form.segmentacao{
        fieldset{
          .content{
            .l-both{
              ul{
                li{
                  p{
                    padding: 5px 29px 0;
                    display: block;
                    width: auto;
                    line-height: auto;
                  }
                  >div{
                    min-width: auto;
                  }
                }
              }
            }
          }
        }
      }
      form.base, form.amostra{
        div div[class^='w-']{
          width: 100% !important;
        }
        .newBase{
          > div:not(.l-bottom){ 
            width:100%;
          }
        }
      }
      form.amostra{
        .content div .inline{
          padding: 10px;
          li{
            display: block;
            padding: 5px 0;
            &.pantone{
              vertical-align: top;
              margin-top: 0;
            }
            .w-300{
              margin: 0;
              width: calc(~"100% - 50px") !important; 
            }
          }
          ul.codes li{ 
            p{
              width: calc(~"100% - 44px");
            }
            a{
              right:14px;
            }
          }
        }
      }
      form.finalidade_produto{
        fieldset{
          li{
            width: 49% !important;
            margin-bottom: 10px !important;
          }
        }
      }
      form.prazo_preco_quant{
        .content{
          ul.inline{
            .w-210{
              display: block;
              margin: 6px 6px 0 0px !important;
            }
          }
          >ul.inline{
            margin: 5px 10px 30px;
            li:nth-child(4){
              margin-left:-10px;
            }
            div.radio{
              margin: 5px 0 15px 0;
            }
            .w-210{
              margin-top:0 !important;
            }
          }
        }
      }
      form.similaridade{
        div div[class^='w-']{
          width: calc(~"50% - 8px") !important; 
        }
        div div[class^='w-680']{
          width: calc(~"100% - 7px") !important;
        }
      }
    }
  }
  @media (max-width: 650px) {
    main{
      form.prazo_preco_quant{
        .content{
          .l-bottom{
            ul.inline{
              [class^='w-']{
                display: block;
              }
              div.radio{
                margin: 5px 0 20px 0;
              }
              .w-210{
                margin: -10px 6px 0 0 !important;
              }
            }
          }
          ul.codes{
            li{
                width: auto;
                p{
                  span{ 
                    display: inline-block !important; 
                    width: 44% !important;
                    margin: 6px !important;
                  }
                }
              }
          }
        }
      }
      form.similaridade{
        .content{
          .l-bottom{
            &:nth-child(3){
              ul.w-220{
                border-left: none;
                display: block;
              }
            }
            &:nth-child(4){
              .radio label, .checkbox label{
                margin: 10px 25px 10px 0;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 425px) {
    main{
      nav{
        >ul{
          >li{
            width: 100%;
            text-align: center;
            >ul{
              position: relative !important;
              left: 0 !important;
              >li{
                width: 100%;
                margin:0 -1px !important;
                &:after{
                  display:none;
                }
              }
            }
          }
        }
      }
      form:not(.base){
        div[class^='w-']{
          width: 100% !important; 
        }
        .l-both, .msg{
          padding-left: 0;
          padding-right: 0;
        }
      }
      form.base{
        div[class^='w-']{
          width: 100% !important; 
        }
        ul{ 
          li{
            display: block;
            padding-bottom: 10px;
          }
        }
        .newBase{
          > div:not(.l-bottom){
            width:100%;
          }
        }
      }
      form.amostra{
        .radio, .checkbox{
          >em{
            display: block;
            padding-left: 50px;
          }
        }
      }
      form.finalidade_produto{
        fieldset{
          .l-bottom{
            p.title{ padding-left: 0; }
            >ul{
              li[class^='w-']{
                position: relative !important;
                display: block !important;
                margin: 0 !important;
                right: 0 !important;
                width: 100% !important;
              }
            }
          }
        }
      }
      form.prazo_preco_quant{
        .content{
          >ul.inline{
            margin-left: 0 !important;
          }
          ul.inline{
            [class^='w-']{
              display: block;
              width: 100%;
            }
            div.radio{
              margin: 5px 0 20px 0;
            }
            .w-210{
              margin-top:-10px !important;
            }
          }
        }
      }
      form.similaridade{
        .content{
          .l-bottom{
            &:first-child{
              .radio{
                label{
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
        div div[class^='w-']{
          width: 100% !important; 
        }
      }
    }
  }

}