@charset "utf-8";
/* GERAL */
body, html, div, span, a, ul, li, dl, dt, dd, section, header, p, form, fieldset, button, input{ border: none; margin: 0; padding: 0; list-style: none; position: relative; text-decoration: none; outline: none; }
header, section, footer, aside, nav, main, article, figure, a, span, :after, :before { display: block; }
body *{ outline: none; border:0; }
html object{ display: none; }
/**/
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; font-weight: normal; }
/*******************************

            GLOBAL
*******************************/
html, body{
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
}
body{
  font: normal 100% 'Lato', sans-serif; 
}
.btn{ font: normal 100% 'Open Sans', sans-serif; }
.w-110{ width: 110px; }
.w-135{ width: 135px; }
.w-150{ width: 150px; }
.w-170{ width: 170px; }
.w-210{ width: 210px; }
.w-220{ width: 220px; }
.w-235{ width: 235px; }
.w-300{ width: 300px; }
.w-335{ width: 335px; }
.w-390{ width: 390px; }
.w-410{ width: 410px; }
.w-450{ width: 450px; }
.w-610{ width: 610px; }
.w-680{ width: 680px; }
.w-880{ width: 880px; }

/* Variables */
@light-gray: #fafbfc;
@medium-gray: #f2f3f5;
@dark-gray: #ced4d9;
@super-dark-gray: #ccd1d7;

@light-blue: #287bca;
@medium-blue: #0056a5;
@dark-blue: #004fa5;

/* Extends */
.hide{ display: none !important; opacity: 0; height: 0; }
.show{ display: block !important; opacity: 1; height: auto; &:extend(.transit(1.3s)); }
.full{ width: 100%; height: 100%; }
.right{ float: right; }
.t-right{ text-align: right !important; }
.t-center{ text-align: center !important; } 
.title{ 
  .px-to-em(18); 
  line-height:@px-to-em; 
  .txt-sets(left,#535659,1.125,700); 
  em{
    color:#535659;
    font-size: 0.8125rem;
    font-weight: 400;
  }
}
.form-fields{ border:1px solid #cad0d6; }
.l-both{ border-top:2px solid @dark-gray; border-bottom:2px solid @dark-gray; display: block; padding:0.625em; margin: 0.625em 0; }
.l-bottom{ border-bottom:2px solid @dark-gray; display: block; padding:10px; margin:10px 0; }
.msg{ 
  background: @medium-gray; margin: -0.68em 0 0.625em; display: block; padding: 0.75em;
  .error{ .txt-sets(right,#d12527,0.8125,400); }  
  .success{ .txt-sets(right,#287bca,0.8125,400); }  
}
.little-break{ float: none; display: block; width: 100%; height: 14px; }
ul.inline li{.d-inline(middle);}
ul.block li{display: block !important; padding-bottom: 10px !important;}

/* Mixins and Functions */
.lnk-active-hover(){
  background: @medium-blue;
  border-color: @medium-blue;
  a *{
    color: #fff;
    .transit(0.3s); 
  }
  > ul{
    &:extend(.show);
    border: 1px solid @dark-gray; 
    position: absolute;
    left: 1px;
    width: 100%;
    margin: 11px -1px;
    &:before{ 
      content: "";
      height: 0.62em;
      width: calc(~"100% + 2px"); 
      background: @medium-blue;
      margin:-11px -1px 0; 
    }
    >li{
      .d-inline(middle);
      margin-left: -4px;
    }
  }
}
.sublnk-active-hover(){
  background: @dark-blue;
  border-color: @dark-blue;
  &:after, &:before{
    background: @dark-blue;
  }
  a, a *{
    color: #fff !important;
    .transit(0.3s);
  }
}
.transit(@time){
  -webkit-transition: background @time, border @time, width @time, height @time, color @time, opacity @time, left @time, top @time;
  transition: background @time, border @time, width @time, height @time, color @time, opacity @time, left @time, top @time;
}
.d-inline(@va){
  display: inline-block;
  vertical-align:@va;
}
.txt-sets(@align,@color,@size,@weight){
  text-align: @align;
  color: @color;
  font-size: ~"@{size}em";
  font-weight: @weight;
}
.px-to-em(@x) {
  @calc: @x/16;
  @px-to-em: ~"@{calc}em";
}


/*******************************

            MAIN
*******************************/
main{ 
  width: 100%;
  padding-bottom: 120px;
  /* LOADER */
  div.loader{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    img{
      top: calc(~"50% - 16px"); 
      top: 50%\9;
      left: calc(~"50% - 16px");
      left: 50%\9;
      position: absolute;
      z-index: 99;
    }
    &:after{
      content: '';
      background: #fff;
      opacity: 0.5;
      filter: alpha(opacity=50);
      width: 100%;
      height: 100%;
    }
  }
  /* MSG BOX */
  div.msg-box{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    div {
      width: 450px;
      top: calc(~"50% - 100px"); 
      top: 50%\9;
      left: calc(~"50% - 225px");
      left: 50%\9;
      position: absolute;
      padding: 50px 0;
      box-sizing: border-box;
      border: 1px solid #dfe7ee;
      background: @medium-gray;
      z-index: 99;
      > a{ 
        .transit(0.3s); width: 40px; height: 40px; border: 1px solid #3071b3; background: @light-blue; position: absolute; right:0; top:-1px; color: #fff; text-align: center; box-sizing: border-box; line-height: 33px;
        &:hover{
          background: @medium-gray;
          border: 1px solid @super-dark-gray;
          color: @light-blue;
        }
      }
      > i{
        background: @light-blue; color: #fff; width: 100px; 
        display: none;
        height: 100px; 
        text-align: center; 
        font-size: 95px; 
        line-height: 95px; 
        margin: 0 19px 0 28px;
        box-sizing: border-box;
        &.fa-exclamation{
          padding: 6px 0 0 0;
        }
      }
      > p{
        .d-inline(middle); font-size: 18px; width: 277px; line-height: 20px;
      }
      &.success{
        i.fa-check{ .d-inline(middle); }
      }
      &.error{
        i.fa-exclamation{ .d-inline(middle); background-color: #D12527; }
      }
    }
    &:after{
      content: '';
      background: #fff;
      opacity: 0.5;
      filter: alpha(opacity=50);
      width: 100%;
      height: 100%;
    }
  }
  /* HEADER */
  header{
    background: @light-gray;
    border-bottom: 2px solid @dark-gray;
    h1{
      width: 141px;
      height: 38px;
      margin: 33px 19px 9px;
      .d-inline(middle);
    }
    h2{
      .d-inline(bottom);
      .txt-sets(center,@dark-blue,1.1,700);
      width: calc(~"100% - 366px"); 
      padding-bottom: 9px;
    }
  }
  /* NAV */
  nav{
    padding: 10px 10px 20px;
    >p{
      &:extend(.right);
      .txt-sets(center,@dark-blue,0.87,400);
      padding-top: 16px;
    }
    >ul{
      li:first-child{
        display:none;
      }
      >li{
        margin-right: -3px;
        background: @medium-gray;
        border: 1px solid @dark-gray;
        position: static;
        .d-inline(middle);
        .transit(0.3s);
        >a{
          padding: 0 14px;
          p{ 
            .txt-sets(center,@medium-blue,0.93,700); 
            .d-inline(middle);
            span{
              .txt-sets(center,@medium-blue,0.75,700);
            }
          }
          &:before{
            content: "";
            height: 2.37em;
            .d-inline(middle);
          }
        }
        >ul{
          &:extend(.hide);
          background: @medium-gray;
          text-align: center; 
          li{
            a{
              .txt-sets(center,@medium-blue,0.81,400);
              padding: 0 20px;
              .d-inline(middle);
              p{
                color: @medium-blue !important;
              }
              &:before{
                content: "";
                height: 3.09em;
                .d-inline(middle);
              }
              span{
                width: 16px;
                height: 16px; 
                box-sizing: border-box;
                border-radius: 12px;
                padding: 2px;
                font-size: 11px !important;
                .d-inline(middle);
                margin: 0 10px 0 0;
                &.success{ background-color: #40eb40; border: 1px solid #1d951d; }
                &.error{ background-color: #eb4040; border: 1px solid #951d1d; }
                &.warning{ background-color: #ebd940; border: 1px solid #978b1e; }
                &.waiting{ background-color: #fff; border: 1px solid #2d7ecb; }
                &.working{ background-color: #287bca; border: 1px solid #2367a9; }
                &.endend{ background-color: #464646; border: 1px solid #0c0c0c; }
              }
              p{
                .d-inline(middle);
              }
            }
            &:first-child:before{
              content: "";
              height: 1.69em;
              .d-inline(middle);
              width: 1px;
              background: @dark-gray;
            }
            &:after{
              content: "";
              height: 1.69em;
              .d-inline(middle);
              width: 1px;
              background: @dark-gray;
            }
            &:hover:not(.disabled){
              .sublnk-active-hover();
            }
            &.active{
              .sublnk-active-hover();
              ul{
                &:extend(.show);
                border: 1px solid @dark-gray; 
                position: absolute;
                width: 100%;
                margin: 11px -1px;
                &:before{
                  content: "";
                  height: 0.62em;
                  width: calc(~"100% + 2px"); 
                  background: @medium-blue;
                  margin:-11px -1px 0; 
                }
                >li{
                  .d-inline(middle);
                }
              }
            }
            &.disabled{
              a{
                cursor: default;
                *{
                  opacity: 0.3;
                  filter: alpha(opacity=30);
                }
              }
            }
          }
        }
        &:hover:not(.disabled){
          background: @medium-blue;
          border-color: @medium-blue;
          a *{
            color: #fff;
            .transit(0.3s); 
          }
        }
        &.active{
          .lnk-active-hover();
        }
        &.disabled{
          a{
            cursor: default;
            opacity: 0.3;
            filter: alpha(opacity=30);
          }
        }
      }
    }
  }
  /* FORM */
  form{
    width: 920px;
    margin: 49px auto;
    fieldset{
      legend{
        &:extend(.hide);
      }
      [class^='w-']{
        .d-inline(middle);
        margin:6px 6px 0 0;
        .transit(0.3s);
        label{
          .txt-sets(left,#535659,0.93,700);
          display: block;
        }
      }
      a.btn{
        .txt-sets(center,#fff,0.93,700);
        border: 1px solid #3374b5;
        background: @light-blue;
        letter-spacing: -0.07em;
        padding:0 1em;
        height: 38px;
        margin: 10px 10px 20px;
        .transit(0.3s);
        cursor:pointer;
        z-index: 99;
        span{
          .d-inline(middle);
          i{
            margin:0 -0.05em;
          }
        }
        &:hover{
          .txt-sets(center,@light-blue,0.93,700);
          background: @medium-gray;
          border: 1px solid @super-dark-gray;
        }
        &.left{
          .d-inline(middle);
        }
        &:before{
          content: "";
          height: 38px; 
          width: 0;
          .d-inline(middle);
        }
        &.dark{
          background: @medium-gray;
          .txt-sets(center,@medium-blue,0.93,700);
          border: 1px solid @super-dark-gray;
          &:hover,&.active{
            background: @medium-blue;
            color: #fff;
            border: 1px solid @medium-blue;
          }
        }
      }
      a.btn.next{
        span{
          padding: 0 0 0 10px;
        }
      }
      a.btn.prev{
        span{
          padding: 0 10px 0 0;
        }
      }
      a.btn.close{
        top: -29px;
        i{
          margin-right: 13px;
          font-size: 16px;
        }
      }
      a:not(.btn){ color: @dark-blue; .px-to-em(14); font-size:@px-to-em; line-height:@px-to-em; display: initial; }
      a:not(.btn):hover{ text-decoration: underline; }
      a:not(.btn):visited{ color: @dark-gray; }
      a.ico-circle{
        .d-inline(middle);
        text-align: center;
        width: 19px;
        height: 19px;
        background: @light-blue;
        border-radius: 10px;
        border: 1px solid @light-blue;
        .transit(0.3s);
        position: absolute;
        top: 34px;
        right: -36px;
        i{
          color: #fff;
          vertical-align: middle;
        }
        &:after{
          content: '';
          height: 21px;
          width: 0;
          .d-inline(middle);
        }
        &:hover{
          background: @medium-gray;
          border: 1px solid @super-dark-gray;
          i{
            color:@light-blue;
          }
        }
      }
      ul.codes li a.ico-circle{
        top:3px; right: 3px;
      }
      .radio label, .checkbox label {
        display: inline-block !important;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 25px;
        vertical-align: middle;
        .txt-sets(left,#535659,0.93,700);
      }
      .radio > em, .checkbox > em {
        .px-to-em(13);
        font-size: @px-to-em;
        .d-inline(middle);
        margin:0 20px 0 -20px;
      }
      .radio label:before, .checkbox label:before, .radio label .before, .checkbox label .before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px; 
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f3f3f3;
        border: 1px solid #e6e7e8;
        border-radius: 8px;
      }
      .radio input[type=radio], .checkbox input[type=checkbox]{  
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
      }
      .radio label:before {
        border-radius: 8px;
      }
      .checkbox label:before {
        border-radius: 0;
      }
      .radio input[type=radio]:checked + label:before, .radio input[type=radio]:checked + label .before {
        font-family: FontAwesome;
        content: "\f111";
        color: @medium-blue;        
        font-size: 0.91em;
        text-align: center;
        line-height: 1.2em;
      }
      .checkbox input[type=checkbox]:checked + label:before, .checkbox input[type=checkbox]:checked + label .before {
        font-family: FontAwesome;
        font-weight: normal;
        content: "\f00c";
        font-size: 1.1em;
        color: @medium-blue;
        text-align: center;
        line-height: 0.9em;
      }
      input[type=text]{
        &:extend(.form-fields);
        .txt-sets(left,#535659,0.93,400);
        padding:10px;
        margin: 6px 0 5px;
        width: 100%;
        box-sizing:border-box;
      }
      textarea{
        &:extend(.form-fields);
        .txt-sets(left,#535659,0.93,400);
        padding:10px;
        margin: 6px 0 5px;
        box-sizing:border-box;
        width: 100%;
        max-width: 100%;      
      }
      input[type=button]{
        background: @light-blue;
        padding: 0.74em 2.492em;
        .txt-sets(left,#fff,0.93,400);
        cursor: pointer;
        .transit(0.3s);
        &:hover{
         color:@light-blue;
          background: @medium-gray;
        }
      }
      ul.codes{
        li{
          color: @dark-blue; .px-to-em(15); font-size:@px-to-em; line-height:@px-to-em;
          padding: 5px 0;
          a.ico-circle{
            margin-left:10px;
          }
          p{ 
            .d-inline(middle); font-size:@px-to-em; margin: 0; width: calc(~"100% - 38px");
            span{
              .d-inline(middle);
              &:last-child{
                
              }
            }
          }
        }
      }
    }
  }
  /* TABLE */
  div.table{
    width: 1000px; height: 300px; overflow: hidden; margin:0 auto; position: relative; box-shadow: 0px 0px 1px #e7e7e8;
    .w-10{ width: 10% !important; }
    .w-12_5{ width: 12.5% !important; }
    .w-15{ width: 15% !important; }
    .w-20{ width: 20% !important; }
    .w-25{ width: 25% !important; }
    .w-30{ width: 30% !important; }
    .w-35{ width: 35% !important; }
    .w-40{ width: 40% !important; }
    .w-45{ width: 45% !important; }
    .w-50{ width: 50% !important; }
    .w-55{ width: 55% !important; }
    .w-60{ width: 60% !important; }
    .w-65{ width: 65% !important; }
    .w-70{ width: 70% !important; }
    .w-75{ width: 75% !important; }
    .w-80{ width: 80% !important; }
    .w-85{ width: 85% !important; }
    .w-90{ width: 90% !important; }
    .w-95{ width: 95% !important; }
    .w-100{ width: 100% !important; }
    .tbl-dark-gray{ background-color: #a3acb5; }
    .tbl-middle-gray{ background-color: #b5bdc4; }
    >div{
      .d-inline(middle); margin-right: -3px; box-shadow: 1px 5px 5px #888888;
      div{ 
        .d-inline(middle); margin-right: -3px; width: 100%; 
      }
      &.tbl-container-01{ 
        overflow: hidden;
        width: 196px;
        position: absolute; top: 0; left: 0; z-index: 100;
        .transit(0.3s);
        &.hover{ 
          width: 475px; top:-1px; 
          h2{ background-color: #fafbfc; color: @medium-blue; }
        }
        div{ width: 475px; }
      }
      &.tbl-container-02{ 
        overflow: hidden;
        width: 449px;
        position: absolute; top: 0; left: 196px; z-index: 99;
        .transit(0.3s);
        &.hover{ 
          width: 877px; left: 47px; top:-1px; z-index: 100; 
          h2{ background-color: #fafbfc; color: @medium-blue; text-align: center; }
        }
        &.tbl-move{
          left: 475px;
        }
        div{ width: 877px;}
      }
      &.tbl-container-03{ 
        overflow: hidden;
        width: 355px;
        position: absolute; top: 0; left: 645px; z-index: 98;
        .transit(0.3s);
        &.hover{ 
          width: 655px; left: 343px; top:-1px; z-index: 100; 
          h2{ background-color: #fafbfc; color: @medium-blue; }
        }
        &.tbl-move{
          left: 924px;
        }
        div{ 
          width: 655px;
        }
      }
    }
    h2{
      .txt-sets(left,#a3acb5,0.8125,700); cursor: pointer;
      background: #fff; padding: 8px;
      i{
        cursor:pointer;
        position: absolute;
        right: 10px;
        top: 9px;
        font-size: 15px;
        width: 15px;
        height: 15px;
        text-align: center;
        display: none;
      }
    }
    dl{
      float: left; .tbl-dark-gray; border-right:1px solid #929aa3;
      dt{ .txt-sets(left,#fff,0.79,700); border-bottom:1px solid #929aa3; padding: 5px; height: 40px; line-height: 14px; }
      dd{
        ul{
          width: 100%; border-right:1px solid #929aa3; .d-inline(top); margin-right: -3px;
          li{
            background:#fff; .transit(0.3s); padding: 5px; height: 38px; line-height: 14px; cursor: crosshair; .txt-sets(left,#0d183d,0.75,400); letter-spacing: -0.08em; border-bottom: 1px solid #e7e7e8;
            &:first-child{ 
              .tbl-dark-gray; .txt-sets(left,#fff,0.79,700); letter-spacing: -0.02em; vertical-align: middle;
              &:before{ vertical-align:top; }
            }
            &:hover, &.hover{
              background: @dark-gray !important;
            }
            &.odd{ background-color: #fafbfc; }
            a{ color: @medium-blue; display: inline-block; font-weight: 700; font-size: 1.05em; letter-spacing: -0.02em; }
            span:extend(main nav > ul > li > ul li a span){
              width: 20px !important;
              height: 20px !important;
              margin:0 !important; 
              padding: 4px 1px 3px 0 !important;
              font-size: 14px !important;
              color: #fff;
              &.success{ &:extend(main nav > ul > li > ul li a span.success); }
              &.error{ &:extend(main nav > ul > li > ul li a span.error); }
              &.warning{ &:extend(main nav > ul > li > ul li a span.warning); }
              &.waiting{ &:extend(main nav > ul > li > ul li a span.waiting); }
              &.working{ &:extend(main nav > ul > li > ul li a span.working); }
              &.endend{ &:extend(main nav > ul > li > ul li a span.endend); }
            }
          }
          &.t-center *{
            text-align: center;
          }
          &:first-child{
            li:first-child{
            }
          }
          &:last-child{
            border: none;
          }
        }
      }
      &.lightness{ 
        .tbl-middle-gray;
        dd ul li:first-child{
          .tbl-middle-gray;
        }
      }
    }
    *{ box-sizing: border-box; }
  }
  /* ICO LEGENDS */
  ul.legends{
    width: 1000px; margin:0 auto; padding: 10px 5px; 
    li{
      .d-inline(middle);
      font-size: 12px; font-weight: bold;
      padding-right: 8px;
      span:extend(main nav > ul > li > ul li a span){
        text-align:center;
        width: 20px !important;
        height: 20px !important;
        margin:0 8px 0 0 !important; 
        padding: 4px 1px 3px 0 !important;
        font-size: 14px !important;
        color: #fff;
        &.success{ &:extend(main nav > ul > li > ul li a span.success); }
        &.error{ &:extend(main nav > ul > li > ul li a span.error); }
        &.warning{ &:extend(main nav > ul > li > ul li a span.warning); }
        &.waiting{ &:extend(main nav > ul > li > ul li a span.waiting); }
        &.working{ &:extend(main nav > ul > li > ul li a span.working); }
        &.endend{ &:extend(main nav > ul > li > ul li a span.endend); }
      }
    }
  }
}

@import url(import.less);

